.view__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(213, 212, 212);
    padding: 0.8rem;

}

.icon{
    cursor: pointer;
}

.icon:hover{
    color: rgb(140, 9, 201);
    transition: 100ms;
}

@media(max-width:760px){
    .view__box{
        display: none;
    }
}