@font-face {
  font-family: "TTNorms";
  src: url("fonts/Times-new-roman-italic.ttf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("./fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("./fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("./fonts/Times-new-roman-italic.ttf") format("truetype");
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 90rem;
  height: 100%;
  margin-right: 24%;
  margin-left: 20%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.icon{
  margin: 0 0.5rem;

}
